<div class="header">
    <h1>Change Password</h1>
    <div class="box">
        <form>
            <label>Enter Old Password :</label>
            <input required type="password" name="old" placeholder="Enter old password" #old="ngModel" ngModel>
            <div *ngIf="old.invalid && old.dirty || old.touched" class="alert alert-danger">
                <p *ngIf="old.errors?.['required']">password is required!</p>
            </div>
            <pre></pre>
            <label>Enter New Password :</label>
            <input required type="password" name="new" placeholder="Enter new password" #new="ngModel" ngModel>
            <div *ngIf="new.invalid && new.dirty || new.touched" class="alert alert-danger">
                <p *ngIf="new.errors?.['required']">password is required!</p>
            </div>
            <pre></pre>         
            <label>Re-enter New Password :</label>
            <input required type="password" name="reenter" placeholder="Re-enter new password" #reenter="ngModel" ngModel>
            <div *ngIf="reenter.invalid && reenter.dirty || reenter.touched" class="alert alert-danger">
                <p *ngIf="reenter.errors?.['required']">password is required!</p>
            </div>
            <pre></pre>
            <button type="button" name="update">Update</button>
        </form>
    </div>
</div>