ul {
    background-color: orange;
    gap:50px;
    height:60px;
    display: flex;
    justify-content:flex-start;
    list-style-type: none;
    padding-top: 10px;    
}
a {
    line-height: 50px;
    color:white;
    padding: 10px;
    text-decoration: none;
}

a:hover {
    color: aqua;
    background-color: blue;
}
 .active {
    background-color: grey;
}

