<nav>
    <div class="container">
        <ul>
            <li><img src="https://quotefancy.com/media/wallpaper/3840x2160/8151357-Hello-World-Wallpaper.jpg" style="height: 50px; width: 90px;"></li>
            <li><a routerLink="/navbar/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/navbar/dashboard" routerLinkActive="active">Dashboard</a></li>
            <li><a routerLink="/navbar/profile" routerLinkActive="active">Profile</a></li>
            <li><a href="#">LogOut</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
