<div class="container">
    <div class="row">
    <div class="box">
        <div>
            <h2>Romeo and Juliet </h2>
            <h3>William Shakespeare</h3>
            <p>Romeo and Juliet is a tragic play by William Shakespeare that tells the 
               story of two young lovers from feuding families in Verona, Italy. Romeo 
               falls in love with Juliet at a masked ball, and despite 
               the longstanding enmity between their families, they secretly marry. 
               Their love, however, is doomed by fate and miscommunication. A series of 
               tragic events leads to their untimely deaths, ultimately uniting their 
               families in grief. The play explores themes of love, fate, and the consequences 
               of familial conflict, making it one of Shakespeare's most enduring works.
            </p>
        </div>
        <div>
            <button><a href="https://folger-main-site-assets.s3.amazonaws.com/uploads/2022/11/romeo-and-juliet_PDF_FolgerShakespeare.pdf"> READ BOOK</a></button>
        </div>
    </div>
    <div class="box">
        <div>
            <h2>The Time Traveler’s Wife</h2>
            <h3>Audrey Niffenegge</h3>
            <p>The Time Traveler's Wife by Audrey Niffenegger is a unique love story that 
               intertwines romance with elements of science fiction. It follows Henry, a 
               man with a genetic disorder that causes him to involuntarily time travel, 
               and Clare, the woman who loves him. Their relationship unfolds in a non-linear 
               fashion, as Henry appears at different times in Clare’s life, complicating 
               their bond. The novel explores themes of love, fate, and the challenges of 
               living with unpredictability, highlighting the emotional impact of their 
               unconventional relationship. It's a poignant tale of enduring love against the 
               backdrop of time's unpredictability.
        </div>
        <div>
            <button><a href="https://avalonlibrary.net/ebooks/Audrey%20Niffenegger%20-%20The%20Time%20Traveler's%20Wife.pdf"> READ BOOK</a></button>
        </div>
    </div>
    <div class="box">
        <div>
            <h2>Pride and Prejudice </h2>
            <h3>Jane Austen</h3>
            <p>Pride and Prejudice is a novel by Jane Austen that follows the spirited 
               Elizabeth Bennet as she navigates issues of class, marriage, and morality 
               in early 19th-century England. When the wealthy and aloof Mr. Darcy moves 
               into the neighborhood, Elizabeth initially views him with disdain. However, 
               as misunderstandings and societal pressures unfold, both characters undergo 
               personal growth and learn about love, pride, and prejudice. The novel cleverly 
               critiques social norms while showcasing the complexity of relationships, making 
               it a beloved classic in literature.
            </p>
        </div>
        <div>
            <button><a href="https://giove.isti.cnr.it/demo/eread/Libri/joy/Pride.pdf"> READ BOOK</a></button>
        </div>
    </div>
    </div>
</div> 
