<div class="container">
    <div class="row">
    <div class="box">
    <div>
        <h2>Wings of Fire: An Autobiography</h2>
        <h3>A.P.J. Abdul Kalam, Arun Tiwari</h3>
        <p>A.P.J. Abdul Kalam was an esteemed Indian aerospace scientist
           and the 11th President of India. Born on October 15, 1931, in
           Rameswaram,Tamil Nadu, he played a role in India's space and 
           missile programs,earning the title "Missile Man of India".Kalam
           inspired millions,particularly youth,with his on education and 
           the power of dreams.The book "Wings of Fire," which reflects his
           journey and aspirations for India.He passed away on July 27, 2015.
        </p>
    </div>
    <div>
        <button><a href="https://ati.dae.gov.in/ati12052021_8.pdf"> READ BOOK</a></button>
    </div>
</div>
<div class="box">
    <div>
        <h2>An Autobiography or The Story of My Experiments with Truth</h2>
        <h3>M.K. Gandhi </h3>
        <p>Mahatma Gandhi, born on October 2,1869,in Porbandar,India,was
           a key leader in the Indian independence against British rule.
           Known for his philosophy "satyagraha," he advocated for civil rights, 
           social reforms,and peaceful protests. Gandhi's commitment to truth
           and justice inspired movements worldwide, making him a symbol of peace 
           and resilience. His efforts led to India gaining independence 
           in 1947. He was assassinated on January 30, 1948.
        </p>
    </div>
    <div>
        <button><a href="https://www.mkgandhi.org/ebks/An-Autobiography.pdf"> READ BOOK</a></button>
    </div>
    </div>
    <div class="box">
        <div>
            <h2>The Diary of a Young Girl</h2>
            <h3>Anne Frank </h3>
            <p>"The Diary of a Young Girl" is the powerful account of Anne Frank,a Jewish teenager 
                who went into hiding during World War II to escape the Nazis.
                Written between 1942 and 1944, the diary captures her thoughts, dreams, and 
                struggles while living in a concealed annex in Amsterdam. Through her introspective
                writing, Anne reflects on the challenges of adolescence, her hopes for the future, 
                and the harsh realities of war. Her diary ultimately serves as a profound testament 
                to the resilience of the human spirit and the enduring impact of her story continues 
                to resonate globally.
            </p>
        </div>
        <div>
            <button><a href="http://www.rhetorik.ch/Aktuell/16/02_13/frank_diary.pdf"> READ BOOK</a></button>
        </div>
    </div>
    <div class="box">
        <div>
            <h2>Long Walk to Freedom</h2>
            <h3> Nelson Mandela </h3>
            <p>"Long Walk to Freedom" is the autobiography of Nelson Mandela, chronicling his 
                journey from a rural village in South Africa to becoming a pivotal leader in 
                the fight against apartheid. Published in 1994, the book details his early life, 
                education, and the development of his political consciousness. Mandela shares his 
                experiences as a prisoner for 27 years, his commitment to nonviolent resistance, 
                and the eventual negotiations that led to the end of apartheid. This powerful 
                narrative not only highlights his personal struggles but also reflects the broader 
                struggle for justice and equality in South Africa. It remains a symbol of hope and 
                resilience.
            </p>
        </div>
        <div>
            <button><a href="http://courseware.cutm.ac.in/wp-content/uploads/2020/05/Long-Walk-to-Freedom-Autobiography-of-Nelson-Mandela.pdf"> READ BOOK</a></button>
        </div>
    </div>
    </div>
</div>

