<div class="container">
    <div>
        <h1>Upcoming Releases :</h1>
        <h2>1. Me Before You by Jojo Moyes </h2>
        <h3>Release Date: December 25, 2024</h3>
        <p><span style="color:green;">Description:</span> Me Before You by Jojo Moyes is a poignant romantic novel that <br>
           tells the story of Louisa Clark, a quirky young woman who takes a job as a <br>
           caregiver for Will Traynor, a wealthy man left paralyzed after an accident. <br>
           Initially struggling with his bitterness and despair, Louisa is determined to <br>
           bring joy back into Will's life. As they spend time together, an unexpected <br>
           bond forms, challenging both their perspectives on life and love. The story <br>
           explores themes of choice, disability, and the complexities of relationships, <br>
           leading to an emotional climax that questions the meaning of living fully. <br>
           It's a heartfelt tale that resonates with readers long after the last page.
        </p>
    </div>
    <div>
        <h2>2. The Silence of the Lambs by Thomas Harris</h2>
        <h3>Release Date: December 20, 2024</h3>
        <p><span style="color:green;">Description:</span> The Silence of the Lambs by Thomas Harris is a gripping psychological <br>
            thriller that follows FBI trainee Clarice Starling as she seeks the help of the <br>
            imprisoned Dr. Hannibal Lecter, a brilliant yet sinister psychiatrist and <br>
            cannibalistic serial killer. Tasked with apprehending another killer known as Buffalo <br>
            Bill, who is abducting young women, Clarice must navigate the unsettling mind of Lecter <br>
            to gain insights into the psyche of her target. The novel delves into themes of power, <br>
            manipulation, and the nature of evil, blending tension with profound character study.
        </p>
    </div>
</div>
