<div class="container">
    <div class="box">
        <h1>Forgot Password?</h1>
        <p>Enter your registered Email.You will receive an email
            with reset link to create new password.</p>
        <div>
           <label>Email :</label>
           <input required="text" name="email" placeholder="Enter email" #email="ngModel" ngModel>
           <div *ngIf ="email.invalid && email.dirty || email.touched" class="alert alert-danger">
               <p *ngIf="email.errors?.['required']">Email is required!</p>
           </div>
        </div>
        <pre></pre>
        <button class = "btn"  type="button" name="submit" (click)="onSubmit()">Submit</button>
        <pre></pre>
        <a routerLink="/login" routerLinkActive="active">BACK TO LOGIN</a>
    </div>
</div>
<router-outlet></router-outlet>
