.box {
    border:2px solid green;
    width:400px;
    margin:20px;
    padding:10px;
    border-radius: 10px;
}
.row {
    border:1px solid green;
    border-radius: 10px;
    display:flex;
    padding:20px;
}
a {
    text-decoration: none;
    color:white;
}
button {
    background-color: green;
    border-radius: 5px;
}
h2 {
    color:navy;
}
h3 {
    color:orangered;
}
.container {
    background-color: beige;
    margin:20px;
}