<div class="container">
    <div class="row">
    <div class="box">
    <div>
        <h2>The Haunting of Hill House</h2>
        <h3>Shirley Jackson</h3>
        <p>The Haunting of Hill House by Shirley Jackson is a psychological horror novel 
           centered on a mysterious mansion known for its dark history and unsettling 
           atmosphere. The story follows four characters—Dr. John Montague, an investigator 
           of paranormal phenomena; Eleanor Vance, a shy woman seeking a sense of belonging; 
           Theodora, a bohemian artist; and Luke Sanderson, the heir to Hill House—who gather 
           at the estate to explore its supernatural occurrences. As the haunting intensifies, 
           the characters confront their own fears and vulnerabilities, leading to chilling revelations.
        </p>
    </div>
    <div>
        <button><a href="https://havenner.weebly.com/uploads/2/0/5/7/20575006/jackson-shirley-the-haunting-of-hill-house.pdf">READ BOOK</a></button>
    </div>
    </div>
<div class="box">
    <div>
        <h2>House of Leaves </h2>
        <h3>Henry James</h3>
        <p>House of Leaves by Mark Z. Danielewski is a complex and experimental horror novel 
            that intertwines multiple narratives. The main story follows Johnny Truant, who 
            discovers an unfinished manuscript about a documentary film called The Navidson 
            Record, which chronicles a family living in a house that is larger on the inside 
            than it is on the outside. As the family explores the strange, shifting spaces 
            within the house, they encounter increasingly unsettling phenomena. The narrative 
            is presented in a unique format, with unconventional typography and footnotes that 
            create a layered reading experience. 
        </p>
    </div>
    <div>
        <button><a href="https://www.mrquerino.com/uploads/5/2/7/8/52783407/house_of_leaves_powerpoint.pdf"> READ BOOK</a></button>
    </div>
    </div>
    <div class="box">
        <div>
            <h2>Bird Box</h2>
            <h3>Josh Malerman</h3>
            <p>Bird Box by Josh Malerman is a post-apocalyptic thriller that follows Malorie, 
                a mother trying to protect her two children from a mysterious entity that drives 
                people to madness and suicide upon sight. Set in a world where the threat is unseen, 
                the survivors must navigate their environment blindfolded to avoid looking at the 
                creatures. The story alternates between Malorie’s desperate journey downriver to safety 
                and flashbacks to the events leading up to the catastrophe.
            </p>
        </div>
        <div>
            <button><a href="https://s1.papyruspub.com/files/demos/products/ebooks/novels/thriller/Preview-Bird-Box-by-Josh-Malerman.pdf"> READ BOOK</a></button>
        </div>
    </div>
    </div>
</div>